

.navbar {

    position: fixed;
    top: 0;

    z-index: 10;

}




.card {

    position: relative;
    width:300px;    
    margin: 100px auto;
    

}




.badge {

    position: absolute;

    top: 0;

    right: 0;

}




.back-top {

    position: fixed;

    bottom: 20px;

    right: 20px;

    z-index: 10;

}
